@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background: url('/pasta_teste/images/priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg');
    background-size: 100%;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

@media (max-width: 1550px) {
    
    /* Footer */

    footer #logos div img {
        width: 100px;
    }
}

@media (max-width: 1325px) {
    
    /* General */
    
    body {
        background-size: 200%;
        background-position: 45%;
    }
}

@media (max-width: 1250px) {

    footer #footer {
        flex-wrap: wrap;
    }

    footer #logos {
        padding: 5px;
    }

    footer #social_links,
    footer #image_credits {
        padding: 10px;
    }

    footer #social_links p,
    footer #image_credits p {
        padding-left: 77px;
    }

    footer #social_links ul li,
    footer #image_credits ul li {
        padding-left: 50px;
    }

}

@media (max-width: 1050px) {
    body {
        background-size: 200%; 
        background-position-y: -20px;
    }
}

@media (max-width: 900px) {

    /* General */

    body, html {
        font-size: 14px;
    }

    /* Header */

    header #header_links nav ul li a {
        font-size: 1.2rem;
    }

    header #header_links nav ul li a i {
        top: 18px;
    }
}

@media (max-width: 825px) {

    /* General */

    body {
        background: url('/pasta_teste/images/zaini-izzuddin-55btQzyDiO8-unsplash.jpg');
        background-color: rgb(229, 216, 213);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 15%;
    }

    /* Header */

    header .default { 
        background-color: rgb(29, 28, 28);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        display: none;
    }

    @keyframes effect {
        0% {
            transform: scaleY(0)
        }

        80% {
            transform: scaleY(1)
        }

        100% {
            transform: scaleY(1)
        }
    }
    
    header .active {
        display: flex;
        animation: effect .4s ease;
        transform-origin: top center;
    }

    header #header_links nav {
        width: 70%;
        margin: auto;
    }

    header #header_links nav ul {
        display: block;
    }

    header #header_links nav ul i {
        display: none;
    }

    header #header_links #close {
        display: block;
        text-align: right;
        margin-top: 6px;
        margin-right: 45px;
    }

    header #header_links #close i {
        cursor: pointer;
        padding: 10px;
    }

    header #header_links nav ul li {
        margin: 5px auto 30px auto;
        text-align: center;
        background-color: rgb(136, 132, 132);
        border-radius: 5px;
        padding: 10px;
        width: 200px;
    }

    header #header_links nav ul li a {
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    header #mobile_menu {
        display: block;
        font-size: 1.8rem;
        color: white;
    }

    header #mobile_menu i {
        padding: 10px;
        cursor: pointer;
    }

    /* Main */

    main #main {
        width: 80%;
        margin: 45px auto 40% auto;
    }

    main #main_title {
        font-size: 1.2rem;
    }

}

@media (max-width: 530px) {
    
    body {
        background-size: 185%;
    }

    header #header_links #close {
        margin-right: 45px;
    }

    main #main_title h1 {
        line-height: 55px;
    }

    footer #logos div img {
        width: 80px;
    }

    footer #credits {
        width: 85%;
    }
}

@media (max-width: 500px) {
    
    header #header_links #close {
        margin-right: 25px;
    }
}