/* Main */

main #main {
    width: 50%;
    margin: 45px auto 20% auto;
    text-align: center;
}

main #main_title {
    font-size: 1.5rem;
    margin-bottom: 35px;
} 

main section {
    background-color: white;
    border-radius: 8px;
    font-size: 1.3rem;
}

main section p {
    line-height: 35px;
    padding: 25px;
}

main #icon {
    padding-bottom: 25px;
}

main #icon i {
    font-size: 2.5rem;
    color: rgb(71, 74, 209);
}

/* Footer */

footer {
    background-color:rgb(29, 28, 28);
    padding-bottom: 25px;
}

footer #social_links,
footer #image_credits,
footer #logos  {
    width: 100%;
}

footer #footer {
    padding: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

footer #logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer #logos img {
    width: 110px;
    border-radius: 65px;
}

footer #logos .no_radius_img {
    border-radius: 0px;
}

footer #social_links p {
    color: white;
    font-weight: 600;
}

footer #social_links ul li,
footer #social_links p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 230px;
    margin: auto;
}

footer #social_links ul li a,
footer #social_links ul li span {
    color: white;
}

footer #social_links ul li i {
    color: white;
    padding-right: 10px;
}

footer #image_credits li,
footer #image_credits p {
    width: 230px;
}

footer #image_credits p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: auto;
    font-weight: 600;
}

footer #image_credits ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin: auto;
}

footer #image_credits ul li a {
    color: white;
    margin: auto;
}

footer #credits {
    width: 350px;
    margin: 15px auto 0 auto;
    text-align: center;
    color: white;
    background-color: rgba(149, 144, 144, 0.2);
    border-radius: 8px;
}

footer #credits p {
    padding: 15px;
}

footer #credits a {
    color: white;
    transition: 0.7s ease;
}

footer #credits a:hover {
    color: rgb(136, 108, 228);
    transition: 0.7s ease;
}
